.homeScreen__background {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    background-image: url('../../assets/pictures/page.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    z-index: -1;
}

.homeScreen__shadow {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    background: linear-gradient(
        0deg,
        transparent,
        rgba(37,37,37, 0.61),
        #111
    );
    z-index: -1;
}

.section1__content {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;

}

.section1__content > h1 {
    font-size: 5.5vw;
    margin-bottom: -0.5em;
}
.section1__content > h3 {
    font-size: 3vw;
    margin-bottom: -0.1em;
}
.section1__content > p {
    font-size: 1.6vw;
    font-weight: bold;
}

.section1__button {
    width: 20em;
    height: 2em;
    margin-top: 3em;
    outline: none;
    border: none;
    border-radius: 30px;
    background-color: white;
    color: #B9EB17;
    font-weight: bold;
    font-size: 2vw;
    cursor: pointer;
    transition: all 300ms ease;
}

.section1__button:hover {
    background-color: #111;
}

.section2 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 5em;
    margin-left: 5em;
}

.section2__img {
    object-fit: contain;
    width: 40vw;
}

.section2__rightSide {
    width: 30vw;
    height: 70vh;
    background-color: #B9EB17;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 2px lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.section2__title {
    color: white;
    font-size: 2vw;
}

.section2__description {
    width: 90%;
    font-size: 1.3vw;
    font-weight: bold;
    text-align: justify;
}

.section2__button {
    font-size: 2.5vh;
    font-weight: bold;
    width: 30%;
    height: 8%;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: white;
    color: #F6D70C;
    box-shadow: 1px 1px 1px 1px rgba(37,37,37, 0.61);
    transition: all 300ms ease;
    cursor: pointer;
}

.section2__button:hover {
    background-color: black;
    transform: scale(1.2);
}

.section3 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchBar {
    width: 80%;
    height: 25%;
    background-color: #B9EB17;
    border-radius: 30px;
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 5px 2px lightgray;
}

.searchBar > form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.input {
    width: 30%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.4vw;
    font-weight: bold;
}

.input > select {
    padding: 1vw;
    outline: none;
    border: 2px solid #F6D70C;
    border-radius: 30px;

}

.input > input {
    outline: none;
    border: 2px solid #F6D70C;
    border-radius: 30px;
    padding: 1vw;
}

.section3__button {
    margin-top: 5em;
    border: none;
    outline: none;
    font-size: 1.8vw;
    color: white;
    background-color: #F6D70C;
    width: 20%;
    height: 7%;
    border-radius: 30px;
    box-shadow: 5px 5px 5px 2px lightgray;
    font-weight: bold;
    cursor: pointer;
    transition: all 300ms ease;
}

.section3__button:hover {
    background-color: #B9EB17;
    transform: scale(1.2);
}

.section4 {
    width: 100%;
    height: 100vh;
}

.cards {
    width: 100%;
    height: 100vh;
    background-color: #B9EB17;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    background-color: white;
    width: 20%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px black;
    transition: all 500ms ease;
}

.card > h2 {
    font-size: 2vw;
}

.circle {
    background-color: white;
    width: 9vw;
    height: 9vw;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle > img {
    object-fit: contain;
    width: 6vw;
}

.card:hover {
    background-color: black;
    color: white;
    transform: scale(1.2);
}

.social__media {
    position: relative;
    bottom: 3em;
    right: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.facebook {
    margin-right: 2em;
}

.instagram {
    margin-right: 2em;
}

.instagramIcon {
    transition: all 200ms ease;
    border-radius: 20px;
    cursor: pointer;
}

.facebookIcon {
    transition: all 200ms ease;
    border-radius: 20px;
    cursor: pointer;
}

.linkedinIcon {
    transition: all 200ms ease;
    border-radius: 20px;
    cursor: pointer;
}
.instagramIcon:hover {
    background-color: orangered;
    transform: scale(2);
}

.facebookIcon:hover {
    background-color: blue;
    transform: scale(2);
}

.linkedinIcon:hover {
    background-color: aqua;
    transform: scale(2);
}