.profile__espace__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__espace__buttons {
    margin-top: 12vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__espace__button {
    width: 28%;
    height: 6vh;
    border: none;
    outline: none;
    border-radius: 30px;
    color: white;
    background-color: #6050DC;
    cursor: pointer;
    transition: all 300ms ease;
}

.profile__espace__button:hover {
    transform: scale(1.2);
    transition: all 300ms ease;
}

.profile__espace__button__active {
    background-color: #E8890E;
}

.profile__espace__screens {
    margin-top: 5vh;
    width: 90%;
}