.profile__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile__buttons {
    margin-top: 12vh;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile__button {
    width: 40%;
    height: 6vh;
    border: none;
    background-color: #6050DC;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: all 300ms ease;
}

.profile__button:hover {
    transform: scale(1.2);
    transition: all 300ms ease;
}

.profile__button__active {
    background-color: #E8890E;
}

.profile__screens {
    width: 90%;
    margin-top: 5vh;
}